@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-size: 16px;
$font-family: 'Rubik', sans-serif;

// Color
$color-primary: #F53838;
$color-gray: (
  1: #0B132A,
  2:  #4F5665,
  3: #000
);
$color-yellow: (
  1: #f7c948,
  2:  #e3ae1b,
  3: #ab800a
);

$w_continer: 1200px;
 
