* {
  box-sizing: border-box;
}
html {
  font-size: $font-size;
  font-family: $font-family;
}
@mixin max_width($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content
  }
}
.container {
  max-width: $w_continer;
  width: 100%;
  margin: 0 auto;
}
.title {
  h2 {
    width: 50%;
    padding-top: 5%;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0b132a;
    margin: 0 auto;
  }
  p {
    width: 70%;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    color: #4f5665;
  }
}
.plan__background {background-color: #fafafa;}
a {text-decoration: none; color: map-get($color-gray,1);}